@font-face {
	font-family: "DroidSerif-Regular";
	src: url(../fonts/DroidSerif-Regular.ttf) format("truetype");

		font-family: "DroidSerif-BoldItalic";
	src: url(../fonts/DroidSerif-BoldItalic.ttf) format("truetype");
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900');
