@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body {
	font-family: PlayfairDisplay-Regular;
	font-size: 20pt;
}

header {
	a.nav-link{
		color: black;
	}
	a.nav-link:hover{border-bottom: 2px solid #EF9C00;}

	a.act{
		font-family: 'Playfair Display';
		font-weight: 900;
		border-bottom: 2px solid #EF9C00;
	}
}

.main {
	margin-top: 10vh;
	.greeting{
		width: 55%;
		 margin: auto;
		 position: relative;

		 &-img{
		 	margin-left:20%;
		 }

		 &-text{
		 	width: 50%;
		 	position: absolute;
		 	top: 30%;
		 	left:50%;

		 	.bold{
		 		font-family: 'Playfair Display';
		 		font-weight: 900;
		 		font-size: 80px;
		 	}
		 	p{
		 		font-family: PlayfairDisplay-BlackItalic;
		 		font-size: 16px;
		 	}
		 	.black{
		 			font-family:DroidSerif-BoldItalic;
		 		}
		 		.yellow{
		 			color:#EF9C00;
		 		}
		 }

	}
	.image{
		 
		 }

}
