header {
  margin: 5vh 35px;
}
header span:hover {
  border-bottom: 3px solid #BEBEBE;
}
header .menu {
  margin: 0px 35px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 16px;
}
header .menu-active {
  margin: 0px 35px;
  font-family: 'Playfair Display', serif;
  border-bottom: 3px solid #EF9C00;
  font-weight: 900;
  font-size: 16px;
}
header .navbar-right {
  float: right;
}
.main {
  margin-top: 10%;
}
.main .greeting {
  width: 1000px;
  margin: auto;
  position: relative;
}
.main .greeting-img {
  margin-left: 7%;
}
.main .greeting-text {
  width: 50%;
  position: absolute;
  top: 35%;
  left: 50%;
}
.main .greeting-text .bold {
  line-height: 1.0;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 80px;
}
.main .greeting-text .text {
  font-family: DroidSerif-Regular, serif;
  font-size: 16px;
}
.main .greeting-text .black {
  font-family: 'DroidSerif-BoldItalic';
}
.main .greeting-text .yellow {
  color: #EF9C00;
}
